a{
  color: #006600;
  font-family: 'Monserrat';
  text-decoration: none;
  font-size: 1.5rem;
}
a:hover{
  color: #4CAF50;
}

body{
  background-color: #cfe5cf;
  margin: 0;
  margin-top: 0;
  text-align: center;
  font-family:  'Merriweathers';
     font-size: 2em;
}

hr{
  background-color: none;
  border-style: none;
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 8%;
  margin: 100px auto;
}

h1{
  margin:50px auto 0 auto;
  font-size: 3rem;
  color: #f5f5f5;
  font-family: 'Sacramento', cursive;
}
h2{
  font-size: 1.75rem;
  font-weight: bold;
  color: #006600;
  font-family: 'Monserrat';
}
h3{
  color: #006600;
  font-family: 'Monserrat';
  font-size: 1.75rem;
}
p{
  color: #004444;
    font-size: 1.5rem;
  line-height: 2;
}
div{
  background-color: #cfe5cf;
}

/* ----------------------------Classes ----------------------------------*/

.hoa1{
  width: 3.6rem;
  position: absolute;
  top: 12.4rem; 
 left:3rem;
  filter: opacity(89%) brightness(110%);
  padding-right: 1rem;
}
.hoa2{
  width: 3.5rem;
  position: absolute;
  top: 14rem; 
 right: 16rem;
  filter: opacity(89%) brightness(110%);
  
}

.hoa3{
width: 2.9rem;
top: 5rem;
right:16rem;
bottom: 1rem;
filter: opacity(110%);
padding-right: 0rem;
margin-bottom: 4.5rem;;
position:relative;
}

.hoa4{
  width: 3rem;
  top: 5rem;
  right:8rem;
  bottom: 1rem;
  transform: scaleX(-1);  
  filter: opacity(100%);
  padding-right: 0rem;
  margin-bottom: 4.5rem;;
  position:relative;
  }

.la1{
  width: 3.6rem;
  position: absolute;
  top: 15.5rem; 
 left:12rem;
 padding-left: 3rem;
  filter: opacity(89%) brightness(110%);
  
}

.la2{
  width: 4rem;
   left:0rem;
   top : 0.7rem;
  filter: opacity(100%);
  padding-right: 0rem;
  transform: scaleX(-1);  
  position: relative;
}
.la3{
  width: 2.5rem;
   filter: opacity(110%);
   position: relative;
   right:6.5rem;
   top:0.5rem;
   padding-right: 0rem;
   margin-bottom: 0rem;
}

.topcontainer{
  background-color: #134e13;
  position: relative;
  padding-top: 40px;
  padding-bottom: 40px;
}
.midcontainer{
position: relative;
}

.bottom-container{
position: relative;
background-color: #134e13;
padding: 0.05px 10px 0.05px 0;
margin: 0;
}
.inNghieng{
  font-style: italic;
}

.topcloud{
  width: 13rem;
  position: absolute;
  right: 4rem;
  top: 7rem;
  filter: opacity(110%);
  }

.cloud{
  width: 16rem;
  position: absolute;
  top: 0px; 
 right:18rem;
  filter: opacity(110%);
  /* padding-right: 30rem; */
}


.btn{
  color: #006600;
  font-size: 1.4rem;
  }

.icon{

  width: 10rem;
 float: left;
  margin-right: 30px;
  }
.icon2{
  width: 10rem;
  float: right;
margin-left: 30px;
}

.skill-row{
  width: 35rem;
  margin: 50px auto 50px auto;
  line-height: 2;
  text-align: left;

}
.botPskill{
  padding-left: 0rem;
}
.contact{
position: relative;
}
.moreaboutme{
  position: relative;
    }
    
.profilepic{
      height: 10rem;
      padding-top: 7%;
      width: 10rem;
    }
    
.profile{
      margin-top: 10rem;
    }

.seperator{
  width:2.35rem;
  transform: rotate(25deg);
  overflow: hidden;
  padding-top:4rem;
  padding-bottom:4rem;
}
